.git
.github
.gitignore

backend/.venv
backend/.pytest_cache
backend/__pycache__
backend/**/*.pyc
backend/.env
backend/agent_logs.db
backend/ai_cskh_backend.egg-info

frontend/node_modules
frontend/.next
frontend/.env.local
frontend/tsconfig.tsbuildinfo

**/__pycache__
**/.DS_Store
**/Thumbs.db

image.png
